html, body {
  background: #000;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
button {
  background-color: #000;
  border: none;
  color: #FFF;
  margin: 1em 2em;
  font-family: 'Karla', sans-serif;
  outline: none
}
.home-text {
  color: #FFF;
  margin-top: 30vh;
  text-align: center;
}
.bubble {
  width: 10em;
  height: auto;
}
.portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects {
  position: relative;
}
.project-image {
  width: 5em;
}
.project-title {
  position: absolute;
  top: 2em;
  left: 2em;
}
