<section class="home">

  <div class="home-text">
    <h1>VERED REKANATI</h1>
    <p>Aiming to make the world a better place <br> through technology and
  nonstandard education<p>
    <img class="bubble" src="../../../images/bubble.jpg" alt="bubble">
  </div>

</section>
