<section class="portfolio">

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>
  
  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

  <div class="project">
    <a href="google.com" target="_blank">
      <img class="project-image" src="../../../images/css.png" alt="css">
      <p class="project-title">Title</p>
    </a>
  </div>

</section>
