<form action="/events" method="get" class="button" id="button">
  <button type="submit" class="submit">
    <p> PORTFOLIO </p>
  </button>
</form>

<form action="/events" method="get" class="button" id="button">
  <button type="submit" class="submit">
    <p> SKILLS </p>
  </button>
</form>

<form action="/events" method="get" class="button" id="button">
  <button type="submit" class="submit">
    <p> CONTACT </p>
  </button>
</form>
